/* фон: #FFFFFF */
/* вторичный фон: #F5F4FA */
/* footer color: #2F303A */
/* акцент: #2196F3 */
/* первичный цвет текста: #757575 */
/* вторичный цвет текста: #212121 */
:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --accent: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-color-text);
}

/* header logo */
.logo-header {
  color: #000000;
  text-decoration: none;
}
.logo-web {
  color: var(--accent);
}
/* footer */
.page-footer {
  background-color: #2f303a;
}
.logo-footer {
  color: var(--primary-background-color);
  text-decoration: none;
}
.footer-conn .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-conn .link:hover,
.footer-conn .link:focus {
  color: var(--accent);
}
.address {
  color: var(--primary-background-color);
}

/* list */
.list {
  list-style: none;
}
.header-nav .link {
  color: var(--secondary-color-text);
  text-decoration: none;
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent);
}
.header-nav .link.current {
  color: var(--accent);
}
.header-conn .link {
  color: var(--primary-color-text);
  text-decoration: none;
}
.header-conn .link:hover,
.header-conn .link:focus {
  color: var(--accent);
}

/* hero */
.hero-button {
  color: var(--primary-background-color);
  background-color: var(--accent);
}

/* Features */
.features-title {
  color: var(--secondary-color-text);
}
.features-text {
  color: var(--primary-color-text);
}

/* What are we doing */
.working-direction {
  color: var(--secondary-color-text);
}

/* Team */
.our-team {
  background-color: var(--secondary-background-color);
}
.team {
  color: var(--secondary-color-text);
}
.team-name {
  color: var(--secondary-color-text);
}
.team-speciality {
  color: var(--primary-color-text);
}

/* page portfolio */
.buttons-portfolio .filter {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color-text);
}
.buttons-portfolio .filter:hover,
.buttons-portfolio .filter:focus {
  background-color: var(--accent);
  color: var(--primary-background-color);
}
.products-title {
  color: var(--secondary-color-text);
}
.products-type {
  color: var(--primary-color-text);
}
